body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 53, 0.9136029411764706) 35%, rgba(255, 0, 86, 1) 100%);
    background-repeat: no-repeat;
    font-family: Cambria;
    height: 100%;
}

html{
    height: 100%;
}

.login-container{
    background-color: white;
    border-radius: 25px;
    height: 100%;
}

input[type="text"], input[type="password"]{
    border: none;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    background-color: rgb(228, 228, 228);
}

#validate-email, #validate-password{
    color: red;
    font-style: italic;
}

#login-validation{
    display: none;
}